{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Emerging blog website</h1>
              <span class="subheading"><strong>Blog website by Ankit</strong></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->

{% for post in posts %}

<li>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="/post/{{post.slug}}"> {{post.title}} </a>
              <h2 class="post-title">
                {{post.content[0:100]}}
              </h2>
              
                {{post.subtitle}}
              
            </a>
            <p class="post-meta">Posted by Admin on {{post.date}}</p>
          </div>
</li>
          {% endfor %}
            
  
          
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href={{next}}>Next &rarr;</a>
            <a class="btn btn-primary float-left" href={{prev}}>&larr; previous</a>
          </div>
        </div>
      </div>
    </div>




{% endblock %}            